.bg_imag{
     position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;

  background-image: url('/img/fondo.stella.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;





}